@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

header {
  padding: 21px 0 24px;
}
header .container {
  max-width: 1166px;
  padding: 0 15px;
  margin: 0 auto;
}
header .container .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #686868;
  font-weight: 500;
}
@media screen and (max-width: 1130px) {
  header .container .top {
    display: none;
  }
}
header .container .top .last {
  font-size: 18px;
}
header .container .top .contact-wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
}
header .container .top .contact-wrapper h5 {
  font-weight: 500;
  font-size: 22px;
  color: #000000;
}
header .container .top .contact-wrapper button {
  width: 196px;
  height: 36px;
  border: none;
  color: #ffffff;
  cursor: pointer;
  border-radius: 30px;
  background: linear-gradient(to bottom, #3bb96d, #279a59);
  font-size: 14px;
  transition: all 300ms ease;
}
header .container .top .contact-wrapper button:active {
  scale: 1.1;
}
header .container .top .contact-wrapper button:hover {
  opacity: 80%;
}
header .container .bottom {
  margin-top: 23px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 600px) {
  header .container .bottom {
    margin-top: 0;
  }
}
header .container .bottom ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 34px;
}
@media screen and (max-width: 1130px) {
  header .container .bottom ul {
    display: none;
  }
}
header .container .bottom ul li {
  font-size: 18px;
  color: #0d233b;
}
header .container .bottom .burger {
  display: none;
}
@media screen and (max-width: 1130px) {
  header .container .bottom .burger {
    display: block;
  }
}

.hero {
  background: linear-gradient(to bottom, #3bb96d, #279a59);
  position: relative;
}
@media screen and (max-width: 600px) {
  .hero {
    padding: 50px 0 100px;
  }
}
.hero .container {
  max-width: 1166px;
  padding: 0 15px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hero .container .left {
  max-width: 504px;
}
@media screen and (max-width: 600px) {
  .hero .container .left {
    max-width: none;
  }
}
.hero .container .left h1 {
  font-weight: 700;
  font-size: 60px;
  color: #ffffff;
  line-height: 110%;
}
@media screen and (max-width: 600px) {
  .hero .container .left h1 {
    font-size: 50px;
  }
}
.hero .container .left p {
  line-height: 140%;
  color: #ffffff;
  max-width: 449px;
  margin-top: 20px;
}
.hero .container .left button {
  width: 220px;
  height: 48px;
  border-radius: 30px;
  background-color: #ffffff;
  color: #3bb96d;
  border: none;
  margin-top: 30px;
  cursor: pointer;
  transition: all 300ms ease;
}
.hero .container .left button:active {
  scale: 1.1;
}
.hero .container .left button:hover {
  opacity: 80%;
}
.hero .container .right {
  max-width: 580px;
  height: 560px;
}
@media screen and (max-width: 600px) {
  .hero .container .right {
    display: none;
    height: 527px;
    width: 387px;
  }
}
.hero .container .right img {
  width: 100%;
  height: 100%;
}
.hero .container .bottom img {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}
@media screen and (max-width: 600px) {
  .hero .container .bottom img {
    left: 20px;
    bottom: 50px;
    transform: translateX(0);
  }
}

.about {
  padding: 130px 0;
}
@media screen and (max-width: 770px) {
  .about {
    padding: 100px 0;
  }
}
@media screen and (max-width: 460px) {
  .about {
    padding: 80px 0;
  }
}
.about .container {
  max-width: 1140px;
  padding: 0 15px;
  margin: 0 auto;
  display: flex;
  gap: 20px;
}
@media screen and (max-width: 600px) {
  .about .container {
    flex-direction: column;
  }
}
.about .container .left {
  max-width: 463px;
}
.about .container .left h1 {
  font-size: 40px;
  font-weight: 700;
  line-height: 140%;
  color: #0d233b;
}
.about .container .left p {
  line-height: 140%;
  color: #686868;
  font-size: 14px;
  font-weight: 400;
  text-align: justify;
  margin-top: 20px;
}
.about .container .right {
  max-width: 657px;
  height: 406px;
}
@media screen and (max-width: 460px) {
  .about .container .right {
    height: 268px;
  }
}
.about .container .right img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 460px) {
  .about .container .right img {
    -o-object-fit: fill;
       object-fit: fill;
  }
}

.our-job {
  padding-bottom: 130px;
}
@media screen and (max-width: 770px) {
  .our-job {
    padding: 100px 0;
  }
}
@media screen and (max-width: 460px) {
  .our-job {
    padding: 80px 0;
  }
}
.our-job .container {
  max-width: 1166px;
  padding: 0 15px;
  margin: 0 auto;
}
.our-job .container .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.our-job .container .top h1 {
  font-size: 40px;
  font-weight: 700;
  line-height: 140%;
  color: #0d233b;
  max-width: 344px;
}
.our-job .container .btn1 {
  width: 220px;
  height: 48px;
  border-radius: 30px;
  border: none;
  color: #ffffff;
  background: linear-gradient(to bottom, #3bb96d, #279a59);
  font-weight: 700;
  font-size: 16px;
  transition: all 300ms ease;
}
.our-job .container .btn1:active {
  scale: 1.1;
}
.our-job .container .btn1:hover {
  opacity: 80%;
}
@media screen and (max-width: 650px) {
  .our-job .container .btn1 {
    display: none;
  }
}
.our-job .container .bottom {
  margin-top: 39px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 820px) {
  .our-job .container .bottom {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 440px) {
  .our-job .container .bottom {
    justify-content: center;
  }
}
@media screen and (max-width: 1166px) {
  .our-job .container .bottom .btn2 {
    display: none;
  }
}
@media screen and (max-width: 440px) {
  .our-job .container .bottom .btn {
    display: block;
  }
}
.our-job .container .profession {
  box-shadow: 0 4px 20px 0 rgba(52, 52, 52, 0.1411764706);
}
@media screen and (max-width: 820px) {
  .our-job .container .profession {
    max-width: 608px;
    padding: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}
@media screen and (max-width: 820px) {
  .our-job .container .profession img {
    max-width: 344px;
    height: auto;
  }
}
@media screen and (max-width: 440px) {
  .our-job .container .profession img {
    width: 388px;
  }
}
.our-job .container .profession .card {
  padding: 20px;
}
.our-job .container .profession .card h2 {
  font-weight: 700;
  font-size: 20px;
  color: #0d233b;
  line-height: 140%;
}
.our-job .container .profession .card .card-div {
  margin-top: 10px;
}
.our-job .container .profession .card .card-div .link {
  font-size: 16px;
  color: #3bb96d;
}
.our-job .container .btn2 {
  display: none;
  margin-top: 20px;
}
@media screen and (max-width: 420px) {
  .our-job .container .btn2 {
    display: block;
  }
}

.our-specialists {
  background-color: #f1f5f8;
  padding: 130px 0;
}
@media screen and (max-width: 770px) {
  .our-specialists {
    padding: 100px 0;
  }
}
@media screen and (max-width: 460px) {
  .our-specialists {
    padding: 80px 0;
  }
}
.our-specialists .container {
  max-width: 1166px;
  padding: 0 15px;
  margin: 0 auto;
}
.our-specialists .container .top {
  display: flex;
  justify-content: space-between;
}
.our-specialists .container .top h1 {
  font-weight: 700;
  font-size: 40px;
  color: #000000;
}
@media screen and (max-width: 430px) {
  .our-specialists .container .top .btns {
    display: none;
  }
}
.our-specialists .container .top .btns .btn1 {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 1px solid #3bb96d;
  background-color: #f1f5f8;
  color: #3bb96d;
  cursor: pointer;
  transition: all 300ms ease;
}
.our-specialists .container .top .btns .btn1:active {
  scale: 1.1;
}
.our-specialists .container .top .btns .btn1:hover {
  opacity: 80%;
}
.our-specialists .container .top .btns .btn2 {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: none;
  background-color: #3bb96d;
  color: #ffffff;
  cursor: pointer;
  transition: all 300ms ease;
}
.our-specialists .container .top .btns .btn2:active {
  scale: 1.1;
}
.our-specialists .container .top .btns .btn2:hover {
  opacity: 80%;
}
.our-specialists .container .cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
}
@media screen and (max-width: 1000px) {
  .our-specialists .container .cards {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 720px) {
  .our-specialists .container .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 515px) {
  .our-specialists .container .cards {
    grid-template-columns: repeat(1, 1fr);
  }
}
.our-specialists .container .cards .middle {
  margin-top: 40px;
}
.our-specialists .container .cards .middle img {
  width: 100%;
}
.our-specialists .container .cards .middle h3 {
  font-size: 20px;
  font-weight: 700;
  color: #0d233b;
  margin-top: 20px;
}
.our-specialists .container .cards .middle p {
  font-size: 18px;
  font-weight: 300;
  color: #0d233b;
  margin-top: 10px;
}
.our-specialists .container .cards .middle button {
  width: 220px;
  height: 48px;
  border-radius: 30px;
  border: none;
  color: #ffffff;
  background: linear-gradient(to bottom, #3bb96d, #279a59);
  font-size: 16px;
  font-weight: 700;
  margin-top: 20px;
  cursor: pointer;
  transition: all 300ms ease;
}
.our-specialists .container .cards .middle button:active {
  scale: 1.1;
}
.our-specialists .container .cards .middle button:hover {
  opacity: 80%;
}
.our-specialists .container .bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  cursor: pointer;
  transition: all 300ms ease;
}
.our-specialists .container .bottom:active {
  scale: 1.1;
}
.our-specialists .container .bottom:hover {
  opacity: 80%;
}
.our-specialists .container .bottom button {
  width: 220px;
  height: 48px;
  border-radius: 30px;
  background-color: #f1f5f8;
  color: #3bb96d;
  font-size: 16px;
  font-weight: 700;
  border: 1px solid #3bb96d;
}
@media screen and (max-width: 430px) {
  .our-specialists .container .bottom button {
    margin-right: 180px;
  }
}

.our-discount {
  padding: 130px 0;
}
@media screen and (max-width: 770px) {
  .our-discount {
    padding: 100px 0;
  }
}
@media screen and (max-width: 460px) {
  .our-discount {
    padding: 80px 0;
  }
}
.our-discount .container {
  max-width: 1166px;
  padding: 0 15px;
  margin: 0 auto;
}
.our-discount .container .top h1 {
  font-size: 40px;
  font-weight: 700;
  color: #000000;
}
.our-discount .container .middle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  gap: 15px;
}
@media screen and (max-width: 1200px) {
  .our-discount .container .middle {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}
.our-discount .container .middle .left {
  max-width: 560px;
  width: 100%;
  background: linear-gradient(to bottom, #3bb96d, #279a59);
  padding: 30px;
  position: relative;
  border-radius: 5px;
  flex-shrink: 0;
}
@media screen and (max-width: 1200px) {
  .our-discount .container .middle .left {
    max-width: none;
  }
}
@media screen and (max-width: 1200px) and (max-width: 550px) {
  .our-discount .container .middle .left {
    height: 518px;
    padding: 15px;
  }
}
.our-discount .container .middle .left h2 {
  font-size: 30px;
  font-weight: 700;
  color: #ffffff;
}
.our-discount .container .middle .left p {
  color: #ffffff;
  line-height: 140%;
  margin-top: 20px;
  max-width: 318px;
}
.our-discount .container .middle .left .pp {
  color: #ffffff;
  margin-top: 20px;
}
.our-discount .container .middle .left h3 {
  font-size: 18px;
  font-weight: 700;
  color: #ffffff;
}
.our-discount .container .middle .left button {
  width: 170px;
  height: 38px;
  border-radius: 30px;
  background-color: #ffffff;
  color: #3bb96d;
  border: none;
  font-weight: 700;
  margin-top: 20px;
  transition: all 300ms ease;
}
.our-discount .container .middle .left button:active {
  scale: 1.1;
}
.our-discount .container .middle .left button:hover {
  opacity: 80%;
}
.our-discount .container .middle .left img {
  position: absolute;
  right: 0;
  bottom: 0;
}
@media screen and (max-width: 550px) {
  .our-discount .container .middle .left img {
    width: 255px;
    height: 242px;
  }
}
.our-discount .container .middle .right {
  max-width: 560px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
@media screen and (max-width: 1200px) {
  .our-discount .container .middle .right {
    max-width: none;
    justify-content: space-between;
  }
}
.our-discount .container .middle .right .item1 {
  width: 270px;
  height: 175px;
  background-color: #6567f2;
  border-radius: 5px;
  padding: 10px;
  position: relative;
  color: white;
}
@media screen and (max-width: 1200px) {
  .our-discount .container .middle .right .item1 {
    width: 48%;
  }
}
@media screen and (max-width: 550px) {
  .our-discount .container .middle .right .item1 {
    width: 100%;
  }
}
.our-discount .container .middle .right .item1 h1 {
  font-size: 20px;
  font-weight: 700;
}
.our-discount .container .middle .right .item1 p {
  font-weight: 400;
  font-size: 12px;
  margin-top: 7px;
}
.our-discount .container .middle .right .item1 h3 {
  font-size: 18px;
  font-weight: 700;
}
.our-discount .container .middle .right .item1 button {
  width: 110px;
  height: 30px;
  border-radius: 30px;
  border: none;
  background-color: #ffffff;
  color: #3bb96d;
  margin-top: 48px;
  transition: all 300ms ease;
}
.our-discount .container .middle .right .item1 button:active {
  scale: 1.1;
}
.our-discount .container .middle .right .item1 button:hover {
  opacity: 80%;
}
.our-discount .container .middle .right .item1 img {
  position: absolute;
  right: 0;
  bottom: 0;
}
.our-discount .container .middle .right .item2 {
  background-color: #f57676;
}
.our-discount .container .middle .right .item3 {
  background-color: #ffdb5c;
  color: #0d233b;
}
.our-discount .container .middle .right .item4 {
  background-color: #27c8da;
}

.stat {
  background-color: #f1f5f8;
  padding: 130px 0;
}
@media screen and (max-width: 770px) {
  .stat {
    padding: 100px 0;
  }
}
@media screen and (max-width: 460px) {
  .stat {
    padding: 40px 0 120px;
  }
}
.stat .container {
  max-width: 1166px;
  padding: 0 15px;
  margin: 0 auto;
}
.stat .container .top h1 {
  font-size: 40px;
  font-weight: 700;
  color: #000000;
}
.stat .container .middle .cards {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
@media screen and (max-width: 730px) {
  .stat .container .middle .cards {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 510px) {
  .stat .container .middle .cards {
    grid-template-columns: 1fr;
  }
}
.stat .container .middle .cards .tag1 {
  background: linear-gradient(to bottom, #27c8da, #24bfd0);
  display: flex;
  align-items: center;
  padding: 15px;
  border-radius: 5px;
}
.stat .container .middle .cards .tag1 .logo {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90px;
  height: 65px;
  border-radius: 50%;
  border: none;
}
.stat .container .middle .cards .tag1 h3 {
  font-size: 16px;
  font-weight: 700;
  line-height: 140%;
  color: #ffffff;
  margin-left: 20px;
}
.stat .container .middle .cards .tag2 .logo {
  width: 70px;
}
@media screen and (max-width: 730px) {
  .stat .container .middle .cards .tag3 {
    grid-column: 1/3;
  }
}
@media screen and (max-width: 510px) {
  .stat .container .middle .cards .tag3 {
    grid-column: 1/1;
  }
}
.stat .container .middle .cards .tag3 .logo {
  width: 70px;
}
.stat .container .bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  gap: 22px;
}
@media screen and (max-width: 730px) {
  .stat .container .bottom {
    flex-direction: column;
    gap: 40px;
  }
}
.stat .container .bottom .left {
  max-width: 463px;
}
@media screen and (max-width: 730px) {
  .stat .container .bottom .left {
    width: 100%;
  }
}
.stat .container .bottom .left p {
  line-height: 140%;
  color: #686868;
  max-width: 100%;
}
.stat .container .bottom .left .btn1 {
  width: 220px;
  height: 48px;
  border-radius: 30px;
  border: none;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  margin-top: 28px;
  background: linear-gradient(to bottom, #3bb96d, #279a59);
}
@media screen and (max-width: 730px) {
  .stat .container .bottom .left .btn1 {
    display: none;
  }
}
.stat .container .bottom .right {
  max-width: 657px;
  height: 406px;
}
.stat .container .bottom .right img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  display: block;
}
.stat .container .bottom .btn2 {
  width: 220px;
  height: 48px;
  border-radius: 30px;
  border: none;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  margin-top: 28px;
  background: linear-gradient(to bottom, #3bb96d, #279a59);
  display: none;
}
@media screen and (max-width: 730px) {
  .stat .container .bottom .btn2 {
    display: block;
  }
}

.our-equipment {
  padding: 130px 0;
}
@media screen and (max-width: 770px) {
  .our-equipment {
    padding: 100px 0;
  }
}
@media screen and (max-width: 460px) {
  .our-equipment {
    padding: 80px 0;
  }
}
.our-equipment .container {
  max-width: 1166px;
  padding: 0 15px;
  margin: 0 auto;
}
.our-equipment .container .top h1 {
  font-size: 40px;
  font-weight: 700;
  color: #000000;
}
.our-equipment .container .cards {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 1150px) {
  .our-equipment .container .cards {
    display: flex;
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 398px) {
  .our-equipment .container .cards {
    width: 100%;
  }
}
.our-equipment .container .cards .left {
  width: 367px;
  height: 540px;
  border-radius: 60px;
  margin-top: 112px;
  position: relative;
  background-color: #f4f6fa;
}
.our-equipment .container .cards .left .photo {
  width: 311px;
  height: 276px;
}
.our-equipment .container .cards .left .photo .img1 {
  position: absolute;
  top: -50px;
}
.our-equipment .container .cards .left h1 {
  font-size: 30px;
  font-weight: 700;
  color: #0d233b;
  padding: 0 30px 0;
}
.our-equipment .container .cards .left .logos {
  display: flex;
  gap: 5px;
  margin-top: 15px;
  padding: 0 30px 0;
}
.our-equipment .container .cards .left .logos p {
  font-size: 18px;
  line-height: 140%;
  color: #686868;
  margin-left: 5px;
}
.our-evidence {
  padding: 130px 0;
}
@media screen and (max-width: 770px) {
  .our-evidence {
    padding: 100px 0;
  }
}
@media screen and (max-width: 460px) {
  .our-evidence {
    padding: 80px 0;
  }
}
.our-evidence .container {
  max-width: 1166px;
  padding: 0 15px;
  margin: 0 auto;
}
.our-evidence .container h1 {
  font-size: 40px;
  font-weight: 700;
  color: #000000;
}
.our-evidence .container .middle {
  background-color: #f4f6fa;
  padding: 30px 20px;
  display: flex;
  align-items: flex-start;
  margin-top: 40px;
  border-radius: 10px;
}
@media screen and (max-width: 1100px) {
  .our-evidence .container .middle {
    flex-direction: column-reverse;
    gap: 20px;
  }
}
@media screen and (max-width: 560px) {
  .our-evidence .container .middle {
    padding: 20px 10px;
  }
}
.our-evidence .container .middle .left .li1 {
  width: 485px;
  height: 53px;
  display: flex;
  background-color: #ffffff;
  align-items: center;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}
@media screen and (max-width: 1100px) {
  .our-evidence .container .middle .left .li1 {
    display: none;
  }
}
.our-evidence .container .middle .left ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.our-evidence .container .middle .left ul li {
  list-style: none;
  font-weight: 400;
  color: #0d233b;
  padding: 10px;
}
.our-evidence .container .middle .left ul li span {
  font-size: 22px;
  font-weight: 700;
  color: #0d233b;
  margin-right: 10px;
}
.our-evidence .container .middle .right {
  background-color: white;
  padding: 11px 21px;
  border-radius: 10px;
  border-top-left-radius: 0px;
}
.our-evidence .container .middle .right .top .li1 {
  display: none;
  height: 53px;
  background-color: #ffffff;
  align-items: center;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}
@media screen and (max-width: 1100px) {
  .our-evidence .container .middle .right .top .li1 {
    display: block;
  }
}
.our-evidence .container .middle .right .top h2 {
  font-size: 30px;
  font-weight: 600;
  color: #0d233b;
}
.our-evidence .container .middle .right .top .br {
  width: 80px;
  height: 0px;
  border: 2px solid #3bb96d;
  margin: 15px 0;
}
.our-evidence .container .middle .right .top p {
  line-height: 150%;
  color: #686868;
  text-align: justify;
  font-weight: 300;
  width: 100%;
}
.our-evidence .container .middle .right .bottom {
  display: flex;
  margin-top: 18px;
  justify-content: space-between;
}
@media screen and (max-width: 560px) {
  .our-evidence .container .middle .right .bottom {
    flex-direction: column;
  }
}
.our-evidence .container .middle .right .bottom .left {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.our-evidence .container .middle .right .bottom .left .text h1 {
  font-size: 50px;
  font-weight: 700;
  color: #3bb96d;
}
.our-evidence .container .middle .right .bottom .left .text p {
  font-size: 20px;
  font-weight: 600;
  color: #717992;
  margin-top: 5px;
}
.our-evidence .container .middle .right .bottom .right2 {
  max-width: 391px;
  height: 342px;
}
.our-evidence .container .middle .right .bottom .right2 img {
  width: 100%;
  height: 100%;
}

.our-partner {
  padding-bottom: 130px;
}
@media screen and (max-width: 770px) {
  .our-partner {
    padding: 100px 0;
  }
}
@media screen and (max-width: 460px) {
  .our-partner {
    padding: 40px 0;
  }
}
.our-partner .container {
  max-width: 1166px;
  padding: 0 15px;
  margin: 0 auto;
}
.our-partner .container h1 {
  font-size: 40px;
  font-weight: 700;
  color: #000000;
}
.our-partner .container .grid {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}
@media screen and (max-width: 850px) {
  .our-partner .container .grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media screen and (max-width: 570px) {
  .our-partner .container .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
.our-partner .container .grid .box {
  width: 173px;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.our-partner .container .grid .box:hover {
  box-shadow: 0 4px 20px 0 rgba(52, 52, 52, 0.1411764706);
}
.our-license .container {
  max-width: 1440px;
  padding: 0 15px;
  margin: 0 auto;
  background-color: #f1f5f8;
  padding: 130px 150px;
}
@media screen and (max-width: 1300px) {
  .our-license .container {
    padding: 45px 100px;
  }
}
.our-license .container .cards {
  display: flex;
  gap: 20px;
  width: 100%;
}
.our-license .container h1 {
  font-size: 40px;
  font-weight: 700;
  color: #000000;
}
.our-license .container .card {
  margin-top: 53px;
  max-width: 600px;
  width: 100%;
}
@media screen and (max-width: 1300px) {
  .our-license .container .card .img4 {
    display: none;
    padding: 45px 100px;
  }
}
@media screen and (max-width: 1000px) {
  .our-license .container .card .img3 {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */