@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}
$container_width: 1166px;
$button_gradient: linear-gradient(to bottom, #3bb96d, #279a59);

@mixin btn_size {
  width: 220px;
  height: 48px;
  border-radius: 30px;
  border: none;
  color: #ffffff;
  background: $button_gradient;
}

@mixin btn_action {
  transition: all 300ms ease;
  &:active {
    scale: 1.1;
  }
  &:hover {
    opacity: 80%;
  }
}

@mixin my_media($max_width) {
  @media screen and (max-width: $max_width) {
    @content;
  }
}

// HEADER
header {
  padding: 21px 0 24px;
  .container {
    max-width: $container_width;
    padding: 0 15px;
    margin: 0 auto;
    .top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: #686868;
      font-weight: 500;
      @include my_media(1130px) {
        display: none;
      }
      .last {
        font-size: 18px;
      }
      .contact-wrapper {
        display: flex;
        align-items: center;
        gap: 20px;
        h5 {
          font-weight: 500;
          font-size: 22px;
          color: #000000;
        }
        button {
          width: 196px;
          height: 36px;
          border: none;
          color: #ffffff;
          cursor: pointer;
          border-radius: 30px;
          background: $button_gradient;
          font-size: 14px;
          @include btn_action();
        }
      }
    }

    .bottom {
      margin-top: 23px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      @include my_media(600px) {
        margin-top: 0;
      }
      ul {
        list-style: none;
        display: flex;
        align-items: center;
        gap: 34px;
        @include my_media(1130px) {
          display: none;
        }
        li {
          font-size: 18px;
          color: #0d233b;
        }
      }
      .burger {
        display: none;
        @include my_media(1130px) {
          display: block;
        }
      }
    }
  }
}

// HERO SECTION
.hero {
  background: $button_gradient;
  position: relative;
  //   padding: 20px 0;
  @include my_media(600px) {
    padding: 50px 0 100px;
  }
  .container {
    max-width: $container_width;
    padding: 0 15px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .left {
      max-width: 504px;
      @include my_media(600px) {
        max-width: none;
      }
      h1 {
        font-weight: 700;
        font-size: 60px;
        color: #ffffff;
        line-height: 110.00000000000001%;
        @include my_media(600px) {
          font-size: 50px;
        }
      }
      p {
        line-height: 140%;
        color: #ffffff;
        max-width: 449px;
        margin-top: 20px;
      }
      button {
        width: 220px;
        height: 48px;
        border-radius: 30px;
        background-color: #ffffff;
        color: #3bb96d;
        border: none;
        margin-top: 30px;
        cursor: pointer;
        @include btn_action();
      }
    }
    .right {
      max-width: 580px;
      height: 560px;
      @include my_media(600px) {
        display: none;
        height: 527px;
        width: 387px;
      }

      img {
        width: 100%;
        height: 100%;
      }
    }
    .bottom {
      img {
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        @include my_media(600px) {
          left: 20px;
          bottom: 50px;
          transform: translateX(0);
        }
      }
    }
  }
}

//  ABOUT US
.about {
  padding: 130px 0;
  @include my_media(770px) {
    padding: 100px 0;
  }
  @include my_media(460px) {
    padding: 80px 0;
  }
  .container {
    max-width: 1140px;
    padding: 0 15px;
    margin: 0 auto;
    display: flex;
    gap: 20px;
    @include my_media(600px) {
      flex-direction: column;
    }
    .left {
      max-width: 463px;
      @include my_media(700px) {
        // max-width: 331px;
      }

      h1 {
        font-size: 40px;
        font-weight: 700;
        line-height: 140%;
        color: #0d233b;
      }
      p {
        line-height: 140%;
        color: #686868;
        font-size: 14px;
        font-weight: 400;
        text-align: justify;
        margin-top: 20px;
      }
    }
    .right {
      max-width: 657px;
      height: 406px;
      @include my_media(460px) {
        height: 268px;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        @include my_media(460px) {
          object-fit: fill;
        }
      }
    }
  }
}

// OUR JOB
.our-job {
  padding-bottom: 130px;
  @include my_media(770px) {
    padding: 100px 0;
  }
  @include my_media(460px) {
    padding: 80px 0;
  }
  .container {
    max-width: $container_width;
    padding: 0 15px;
    margin: 0 auto;

    .top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      h1 {
        font-size: 40px;
        font-weight: 700;
        line-height: 140%;
        color: #0d233b;
        max-width: 344px;
      }
    }
    .btn1 {
      @include btn_size();
      font-weight: 700;
      font-size: 16px;
      @include btn_action();
      @include my_media(650px) {
        display: none;
      }
    }
    .bottom {
      margin-top: 39px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      @include my_media(820px) {
        flex-wrap: wrap;
      }
      @include my_media(440px) {
        justify-content: center;
      }
      @include my_media($container_width) {
        .btn2 {
          display: none;
        }
      }
      @include my_media(440px) {
        .btn {
          display: block;
        }
      }
    }
    .profession {
      box-shadow: 0 4px 20px 0 #34343424;
      @include my_media(820px) {
        max-width: 608px;
        padding: 20px;
        align-items: center;
        justify-content: center;
        text-align: center;
      }
      img {
        @include my_media(820px) {
          max-width: 344px;
          height: auto;
        }
        @include my_media(440px) {
          width: 388px;
        }
      }
      .card {
        padding: 20px;
        h2 {
          font-weight: 700;
          font-size: 20px;
          color: #0d233b;
          line-height: 140%;
        }
        .card-div {
          margin-top: 10px;
          .link {
            font-size: 16px;
            color: #3bb96d;
          }
        }
      }
    }
    .btn2 {
      display: none;
      margin-top: 20px;
      @include my_media(420px) {
        display: block;
      }
    }
  }
}

// OUR SPECIALISTS
.our-specialists {
  background-color: #f1f5f8;
  padding: 130px 0;
  @include my_media(770px) {
    padding: 100px 0;
  }
  @include my_media(460px) {
    padding: 80px 0;
  }
  .container {
    max-width: $container_width;
    padding: 0 15px;
    margin: 0 auto;

    .top {
      display: flex;
      justify-content: space-between;
      h1 {
        font-weight: 700;
        font-size: 40px;
        color: #000000;
      }
      .btns {
        @include my_media(430px) {
          display: none;
        }
        .btn1 {
          width: 30px;
          height: 30px;
          border-radius: 50%;
          align-items: center;
          justify-content: center;
          text-align: center;
          border: 1px solid #3bb96d;
          background-color: #f1f5f8;
          color: #3bb96d;
          cursor: pointer;
          @include btn_action();
        }
        .btn2 {
          width: 30px;
          height: 30px;
          border-radius: 50%;
          align-items: center;
          justify-content: center;
          text-align: center;
          border: none;
          background-color: #3bb96d;
          color: #ffffff;
          cursor: pointer;
          @include btn_action();
        }
      }
    }

    .cards {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      gap: 20px;

      @include my_media(1000px) {
        grid-template-columns: repeat(3, 1fr);
      }

      @include my_media(720px) {
        grid-template-columns: repeat(2, 1fr);
      }

      @include my_media(515px) {
        grid-template-columns: repeat(1, 1fr);
      }

      .middle {
        // max-width: 270px;
        // height: 405px;
        margin-top: 40px;
        img {
          width: 100%;
        }
        h3 {
          font-size: 20px;
          font-weight: 700;
          color: #0d233b;
          margin-top: 20px;
        }
        p {
          font-size: 18px;
          font-weight: 300;
          color: #0d233b;
          margin-top: 10px;
        }
        button {
          @include btn_size();
          font-size: 16px;
          font-weight: 700;
          margin-top: 20px;
          cursor: pointer;
          @include btn_action();
        }
      }
    }

    .bottom {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 50px;
      cursor: pointer;
      @include btn_action();

      button {
        width: 220px;
        height: 48px;
        border-radius: 30px;
        background-color: #f1f5f8;
        color: #3bb96d;
        font-size: 16px;
        font-weight: 700;
        border: 1px solid #3bb96d;
        @include my_media(430px) {
          margin-right: 180px;
        }
      }
    }
  }
}

// OUR DISCOUNT
.our-discount {
  padding: 130px 0;
  @include my_media(770px) {
    padding: 100px 0;
  }
  @include my_media(460px) {
    padding: 80px 0;
  }
  .container {
    max-width: $container_width;
    padding: 0 15px;
    margin: 0 auto;
    .top {
      h1 {
        font-size: 40px;
        font-weight: 700;
        color: #000000;
      }
    }
    .middle {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 40px;
      gap: 15px;
      @include my_media(1200px) {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
      }
      .left {
        max-width: 560px;
        width: 100%;
        background: $button_gradient;
        padding: 30px;
        position: relative;
        border-radius: 5px;
        flex-shrink: 0;
        @include my_media(1200px) {
          max-width: none;
          @include my_media(550px) {
            height: 518px;
            padding: 15px;
          }
        }
        h2 {
          font-size: 30px;
          font-weight: 700;
          color: #ffffff;
        }
        p {
          color: #ffffff;
          line-height: 140%;
          margin-top: 20px;
          max-width: 318px;
        }
        .pp {
          color: #ffffff;
          margin-top: 20px;
        }
        h3 {
          font-size: 18px;
          font-weight: 700;
          color: #ffffff;
        }
        button {
          width: 170px;
          height: 38px;
          border-radius: 30px;
          background-color: #ffffff;
          color: #3bb96d;
          border: none;
          font-weight: 700;
          margin-top: 20px;
          @include btn_action();
        }
        img {
          position: absolute;
          right: 0;
          bottom: 0;
          @include my_media(550px) {
            width: 255px;
            height: 242px;
          }
        }
      }
      .right {
        max-width: 560px;
        width: 100%;
        // border: 1px solid red;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        @include my_media(1200px) {
          max-width: none;
          justify-content: space-between;
        }

        .item1 {
          width: 270px;
          height: 175px;
          // border: 1px solid red;
          background-color: #6567f2;
          border-radius: 5px;
          padding: 10px;
          position: relative;
          color: white;
          @include my_media(1200px) {
            width: 48%;
          }
          @include my_media(550px) {
            width: 100%;
          }

          h1 {
            font-size: 20px;
            font-weight: 700;
          }
          p {
            font-weight: 400;
            font-size: 12px;
            margin-top: 7px;
          }
          h3 {
            font-size: 18px;
            font-weight: 700;
          }
          button {
            width: 110px;
            height: 30px;
            border-radius: 30px;
            border: none;
            background-color: #ffffff;
            color: #3bb96d;
            margin-top: 48px;
            @include btn_action();
          }
          img {
            position: absolute;
            right: 0;
            bottom: 0;
          }
        }
        .item2 {
          background-color: #f57676;
        }
        .item3 {
          background-color: #ffdb5c;
          color: #0d233b;
        }
        .item4 {
          background-color: #27c8da;
        }
      }
    }
  }
}

// STAT
.stat {
  background-color: #f1f5f8;
  padding: 130px 0;
  @include my_media(770px) {
    padding: 100px 0;
  }
  @include my_media(460px) {
    padding: 40px 0 120px;
  }
  .container {
    max-width: $container_width;
    padding: 0 15px;
    margin: 0 auto;
    .top {
      h1 {
        font-size: 40px;
        font-weight: 700;
        color: #000000;
      }
    }
    .middle {
      .cards {
        margin-top: 40px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
        @include my_media(730px) {
          grid-template-columns: 1fr 1fr;
        }
        @include my_media(510px) {
          grid-template-columns: 1fr;
        }
        .tag1 {
          background: linear-gradient(to bottom, #27c8da, #24bfd0);
          // max-width: 367px;
          display: flex;
          align-items: center;
          padding: 15px;
          border-radius: 5px;

          .logo {
            background-color: #ffffff;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 90px;
            height: 65px;
            border-radius: 50%;
            border: none;
            // border: 1px solid red;
            img {
            }
          }

          h3 {
            font-size: 16px;
            font-weight: 700;
            line-height: 140%;
            color: #ffffff;
            margin-left: 20px;
          }
        }

        .tag2 {
          .logo {
            width: 70px;
          }
        }
        .tag3 {
          @include my_media(730px) {
            grid-column: 1/3;
          }

          @include my_media(510px) {
            grid-column: 1/1;
          }
          .logo {
            width: 70px;
          }
        }
      }
    }
    .bottom {
      display: flex;
      justify-content: space-between;
      margin-top: 30px;
      gap: 22px;
      @include my_media(730px) {
        flex-direction: column;
        gap: 40px;
      }
      .left {
        max-width: 463px;
        @include my_media(730px) {
          width: 100%;
        }
        p {
          line-height: 140%;
          color: #686868;
          // @include my_media(1170px) {
          //   width: 343px;
          // }
          max-width: 100%;
        }
        .btn1 {
          width: 220px;
          height: 48px;
          border-radius: 30px;
          border: none;
          color: #ffffff;
          font-weight: 700;
          font-size: 16px;
          margin-top: 28px;
          background: $button_gradient;
          @include my_media(730px) {
            display: none;
          }
        }
      }
      .right {
        max-width: 657px;
        height: 406px;
        img {
          object-fit: cover;
          width: 100%;
          height: 100%;
          display: block;
        }
      }
      .btn2 {
        width: 220px;
        height: 48px;
        border-radius: 30px;
        border: none;
        color: #ffffff;
        font-weight: 700;
        font-size: 16px;
        margin-top: 28px;
        background: $button_gradient;
        display: none;
        @include my_media(730px) {
          display: block;
        }
      }
    }
  }
}

// OUR EQUIPMENT
.our-equipment {
  padding: 130px 0;
  @include my_media(770px) {
    padding: 100px 0;
  }
  @include my_media(460px) {
    padding: 80px 0;
  }
  .container {
    max-width: $container_width;
    padding: 0 15px;
    margin: 0 auto;
    .top {
      h1 {
        font-size: 40px;
        font-weight: 700;
        color: #000000;
      }
    }
    .cards {
      display: flex;
      justify-content: space-between;
      @include my_media(1150px) {
        display: flex;
        flex-wrap: wrap;
      }
      @include my_media(398px) {
        width: 100%;
      }
      .left {
        width: 367px;
        height: 540px;
        border-radius: 60px;
        margin-top: 112px;
        position: relative;
        // border: 1px solid red;
        background-color: #f4f6fa;
        .photo {
          width: 311px;
          height: 276px;
          .img1 {
            position: absolute;
            top: -50px;
          }
        }
        h1 {
          font-size: 30px;
          font-weight: 700;
          color: #0d233b;
          padding: 0 30px 0;
        }
        .logos {
          display: flex;
          gap: 5px;
          margin-top: 15px;
          padding: 0 30px 0;

          img {
          }
          p {
            font-size: 18px;
            line-height: 140%;
            color: #686868;
            margin-left: 5px;
          }
        }
      }
      .middle {
      }
      .right {
      }
    }
  }
}

// OUR EVIDENCE
.our-evidence {
  padding: 130px 0;
  @include my_media(770px) {
    padding: 100px 0;
  }
  @include my_media(460px) {
    padding: 80px 0;
  }
  .container {
    max-width: $container_width;
    padding: 0 15px;
    margin: 0 auto;
    h1 {
      font-size: 40px;
      font-weight: 700;
      color: #000000;
      // margin: 40px 140px;
    }
    .middle {
      background-color: #f4f6fa;
      padding: 30px 20px;
      display: flex;
      align-items: flex-start;
      margin-top: 40px;
      border-radius: 10px;
      @include my_media(1100px) {
        flex-direction: column-reverse;
        gap: 20px;
      }
      @include my_media(560px) {
        padding: 20px 10px;
      }
      .left {
        .li1 {
          width: 485px;
          height: 53px;
          display: flex;
          background-color: #ffffff;
          align-items: center;
          border-bottom-left-radius: 10px;
          border-top-left-radius: 10px;
          @include my_media(1100px) {
            display: none;
          }
        }
        ul {
          display: flex;
          flex-direction: column;
          gap: 10px;
          li {
            list-style: none;
            font-weight: 400;
            color: #0d233b;
            padding: 10px;

            span {
              font-size: 22px;
              font-weight: 700;
              color: #0d233b;
              margin-right: 10px;
            }
          }
        }
      }
      .right {
        background-color: white;
        padding: 11px 21px;
        border-radius: 10px;
        border-top-left-radius: 0px;
        .top {
          .li1 {
            display: none;
            // width: 485px;
            height: 53px;
            background-color: #ffffff;
            align-items: center;
            border-bottom-left-radius: 10px;
            border-top-left-radius: 10px;
            @include my_media(1100px) {
              display: block;
            }
          }
          h2 {
            font-size: 30px;
            font-weight: 600;
            color: #0d233b;
          }
          .br {
            width: 80px;
            height: 0px;
            border: 2px solid #3bb96d;
            margin: 15px 0;
          }
          p {
            line-height: 150%;
            color: #686868;
            text-align: justify;
            font-weight: 300;
            width: 100%;
          }
        }
        .bottom {
          display: flex;
          margin-top: 18px;
          justify-content: space-between;
          @include my_media(560px) {
            flex-direction: column;
          }
          .left {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            .text {
              h1 {
                font-size: 50px;
                font-weight: 700;
                color: #3bb96d;
              }
              p {
                font-size: 20px;
                font-weight: 600;
                color: #717992;
                margin-top: 5px;
              }
            }
          }
          .right2 {
            max-width: 391px;
            height: 342px;
            img {
              width: 100%;
              height: 100%;
            }
          }
        }
      }
    }
  }
}

// OUR PARTNER
.our-partner {
  padding-bottom: 130px;
  @include my_media(770px) {
    padding: 100px 0;
  }
  @include my_media(460px) {
    padding: 40px 0;
  }
  .container {
    max-width: $container_width;
    padding: 0 15px;
    margin: 0 auto;
    h1 {
      font-size: 40px;
      font-weight: 700;
      color: #000000;
    }
    .grid {
      margin-top: 50px;
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      @include my_media(850px) {
        grid-template-columns: repeat(4, 1fr);
      }
      @include my_media(570px) {
        grid-template-columns: repeat(2, 1fr);
      }
      .box {
        width: 173px;
        height: 90px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        &:hover {
          box-shadow: 0 4px 20px 0 #34343424;
        }
      }

      img {
      }
    }
  }
}

// OUR LICENSE
.our-license {
  .container {
    max-width: 1440px;
    padding: 0 15px;
    margin: 0 auto;
    background-color: #f1f5f8;
    padding: 130px 150px;
    @include my_media(1300px) {
      padding: 45px 100px;
    }

    .cards {
      display: flex;
      gap: 20px;
      width: 100%;
    }
    h1 {
      font-size: 40px;
      font-weight: 700;
      color: #000000;
    }
    .card {
      margin-top: 53px;
      max-width: 600px;
      width: 100%;
      .img4 {
        @include my_media(1300px) {
          display: none;
          padding: 45px 100px;
        }
      }
      .img3 {
        @include my_media(1000px) {
          display: none;
        }
      }
    }
  }
}
